body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/city.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 140px 50px;
}

.hero h1 {
  margin: 0;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
}

.hero h2 {
  margin: 0 0 48px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

.hero h3 {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.hero a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  padding: 16px 32px;
  background-color: white;
  color: #272044;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.why-manchester {
  background-color: white;
  padding: 100px 50px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.why-manchester img {
  max-width: 100%;
}

.why-manchester h2,
.cafes h2,
.gallery h2 {
  margin: 0 0 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
}

.why-manchester h3,
.cafes h3,
.gallery h3 {
  margin: 0 0 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #272044;
}

.why-manchester p,
.cafes p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}

.cafes {
  background-color: #f8f8f8;
}

.cafe-content {
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  padding: 100px 50px;
}

.card-container {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header {
  display: flex;
}

.embed {
  width: 50%;
  height: 50%;
  display: block;
  aspect-ratio: 1/1;
}

.img-responsive {
  width: 50%;
  object-fit: cover;
}

.card-body h4 {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #272044;
}

.card-body p {
  margin: 0 0 24px;
}

.card-body h5 {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #272044;
}

.card-body {
  padding: 30px;
  text-align: left;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
  border-radius: 3px;
}

.gallery {
  background-color: white;
  padding: 100px 50px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.gallery h3 {
  margin-bottom: 50px;
}

.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/images/buildings2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

section {
  display: grid;
  opacity: 0.7;
  grid-template-columns: 2fr 3fr 3fr;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0 0 8px;
  padding: 0;
  align-self: stretch;
}

footer a {
  color: white;
}

@media (max-width: 960px) {
  .hero {
    padding: 60px 25px;
  }

  .hero h1 {
    line-height: 1.3;
    font-size: 48px;
    margin-bottom: 25px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero h3 {
    font-size: 12px;
    margin-bottom: 25px;
  }

  .why-manchester {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: 30px;
  }

  .why-manchester img {
    max-width: 100%;
  }

  .why-manchester h2,
  .why-manchester h3 {
    text-align: center;
  }

  .why-manchester h2 {
    margin-bottom: 15px;
  }

  .why-manchester h3 {
    line-height: 1.5;
  }

  .card-container {
    display: block;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
    width: 100%;
  }

  footer {
    padding: 0;
  }

  section {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: 30px;
  }
}
