body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/city.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 140px 0;
}

.hero h1 {
  margin: 0;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
}

.hero h2 {
  margin: 0 0 48px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

.hero h3 {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}

.hero a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  padding: 16px 32px;
  background-color: white;
  color: #272044;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
